.custom_table .MuiPaper-root .MuiToolbar-root{
    background-color: transparent;
}
.css-1e1m30i, .css-1f2qhs8,.css-1xqjr4h-MuiTableCell-root,.css-1w86f15,.css-c8wlay{
    color: #ffff;
}
/* .css-929hxt-MuiInputBase-input-MuiInput-input,.css-193ajjd-MuiInputBase-input-MuiInput-input{
    color:#ffff;
} */
