@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  scroll-behavior: smooth;
}

.ioginImg {
  max-width: 120% !important;
}

@media (max-width: 599px) {
  .ioginImg {
    max-width: 100% !important;
  }
}
@media (min-width: 600px) {
  .profileNavBar {
    display: none;
  }
}

@media (max-width: 1050px) {
  .smallScreen {
    display: none !important;
  }
  .smallIcon {
    display: block !important;
  }

  .profileGrid{
    grid-template-columns: 1fr 20fr;
  }
}

@media (min-width: 1051px) {
  .smallIcon {
    display: none !important;
  }
  .profileGrid{
    grid-template-columns: 2fr 10fr;
  }
}

@media (max-height: 750px) {
  .paddingOuter {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .paddingOuterLayer {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .registerImg {
    width: 25% !important;
  }
  .profileWidth {
    width: 50% !important;
  }
}

.displayLarge {
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.headlineMedium {
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}
.titleLarge {
  font-family: DM Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.titleMedium {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
}
.bodyMedium {
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.25px;
}
.bodySmall {
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.4px;
  color: #000;
}
.labelMedium {
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.5px;
}
.profileIcon {
  display: flex;
  padding: 12px 0px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.profilePageItem {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profileItem {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  font-weight: 400 !important;
  line-height: 1.55 !important;
}

.css-1hdcydv-MuiButtonBase-root-MuiTab-root {
  opacity: 1 !important;
}

.filterButton {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #7a757f;
  cursor: pointer;
  gap: 6px;
  font-weight: 700;
}

/* .css-heg063-MuiTabs-flexContainer{
  flex-direction: column !important;
} */
.notificationBg {
  background-color: #401686;
  height: 40px;
  justify-content: flex-end !important;
}
.notificationSwitch{
  flex-direction: row;
  justify-content: space-between !important;
}
.css-1juiuni-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track{
  background-color: #2ECA45 !important;
}

.hover-effect:hover {
  color: #d5d2d2;
}